<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="Scripts/AddTodo.js"></script>

    <title>Add Todo</title>
</head>
<body ng-app="AddTodo">
<h2>Add New Todo</h2>
<form ng-controller="TodoController" ng-submit="submit()">
    <div>Text: <input type="text" ng-model="TodoText" required style="width: 160px; margin-left: 28px"/><br/>
    </div>
    <div>DueDate: <input type="text" ng-model="DueDate" required style="width: 159px"/><br/>
    </div>
    <div>Priority: <input type="text" ng-model="Priority" required style="width: 72px; margin-left: 9px"/><br/>
    </div>
    <div style="height: 53px">
        <br/>
        <input type="submit" value="Submit" id="todoSubmit"/>
    </div>
</form>
</body>
</html>

