<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=366e6324-a086-4893-a096-a4e9009db0bc.sqlserver.sequelizer.com;Database=db366e6324a0864893a096a4e9009db0bc;User ID=ydnuzuglrrlnpmga;Password=XV82Ab6bhM2hQyBFUP5pmfxM6iHL6rT2GAtH8n36mDPp4hUrn3T5F7XRwt4rzteY;" />
  </connectionStrings>
</configuration>